<footer class="footer navbar-expand-lg navbar-dark bg-dark">
  <div>
    <ul class="navbar-nav">

      <li>
        <ul>
          <a href="https://www.facebook.com/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <span class="social-link" style="margin-left: 10px;">facebook</span>
          <br><br>
          <a href="https://twitter.com/" target="_blank" class="social-icon"><i class="fab fa-twitter"></i></a>
          <span class="social-link" style="margin-left: 10px;">twitter</span>
          <br><br>
          <a href="https://www.instagram.com/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i></a>
          <span class="social-link" style="margin-left: 10px;">instagram</span>
        </ul>
      </li>


      <li>
        <ul>
            <a routerLink="/about" class="nav-link">About Us</a>
            <a routerLink="/contact" class="nav-link">Contact Us</a>
        </ul>
      </li>
            
            
      <form class="form-inline ml-auto">
        <li class = "nav-item">
          <span class="text-muted text-custom-color">&copy; {{ currentYear }} BOKA - Online Bookstore. All rights reserved.</span>
        <li>
      </form>
    </ul>
  </div>
</footer>           