<h2 class = "text-center">Login</h2>

<form *ngIf="!authService.isAnyoneLoggedin()" (submit)="login()" [formGroup]="loginForm" class="contact-form">

  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email*" id="email" formControlName="email" required>
    <!-- Display validation error message if field is touched and invalid -->
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
      Email is required and must be a valid email address.
    </div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" placeholder="password*" id="password" formControlName="password" required>
    <!-- Display validation error message if field is touched and invalid -->
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
      Last Name is required.
    </div>
  </div>

  
  <button type="submit" class="btn btn-primary">Login</button>
  <!-- <button type="submit">Login</button> -->

  <div *ngIf="!isLoginSubmitted" class="text-center">
    One of the details entered is incorrect
  </div>
</form>