<div class="container">
    <div class="card">
      <h3 class="text-center">My Shopping Cart</h3>
      <p class="text-center">{{ shoppingCart?.userName }}</p>
      <div class="card-body">
        <p>Shopping Cart ID: {{ shoppingCart?.id }}</p>
        <!-- <p>User ID: {{ shoppingCart?.userID }}</p> -->
        <ng-container *ngIf="getCartItemDetails(shoppingCart?.cartItems || []).length > 0; else emptyCart">
          <div class="favorite-item" *ngFor="let cartItem of shoppingCart?.cartItems">
            <div class="book-details">
            </div>
          </div>
        </ng-container>
        <ng-template #emptyCart>
          <h6>Your shopping cart is empty</h6>
        </ng-template>
      </div>
    </div>
  </div>
  