<div class = "container">
    <div class = "card">
        <h3 class = "text-center">Books list</h3>
        <div class = "card-body">
            <table class = "table table-stiped">
                <thead>
                    <th>id</th>
                    <th>title</th>
                    <th>description</th>
                    <th>price</th>
                    <!-- <th>quantity</th> -->
                    <th>authorName</th>
                    <th>image</th>
                </thead>
                <tbody>
                    <tr *ngFor="let book of getPagedBooks()">
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.description}}</td>
                        <td>{{book.price}}</td>
                        <!-- <td>{{book.quantity}}</td> -->
                        <td>{{book.authorName}}</td>
                        <td>
                            <a [routerLink]="['/book-details', book.id]">
                                <img src="{{book.image}}" alt="" height="100" width="80">
                              </a>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>

</div>
<!-- <div class="pagination">
    <button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Previous</button>
    <button *ngFor="let pageNumber of getPageNumbers()" [class.active]="pageNumber === currentPage" (click)="goToPage(pageNumber)">{{pageNumber}}</button>
    <button [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">Next</button>
  </div> -->

  <div class="pagination text-center">
    <div class="pagination-controls">
      <span [ngClass]="{'disabled': currentPage === 1}" (click)="goToPage(currentPage - 1)">Previous</span>
      <span *ngFor="let pageNumber of getPageNumbers()" [ngClass]="{'active': pageNumber === currentPage}" (click)="goToPage(pageNumber)">{{pageNumber}}</span>
      <span [ngClass]="{'disabled': currentPage === totalPages}" (click)="goToPage(currentPage + 1)">Next</span>
    </div>
  </div>
  
  
  

