
<div class="dashboard-container">
    <div class = "dashboard-menu-union">
        <div class="dashboard-welcome">
            <h6 class="welcome-text-start">Welcome,</h6>
            <h4 class="welcome-text-start">{{ getUserName() }}</h4>
            <span class="logout-cursor" *ngIf="authService.isAnyoneLoggedin()" (click)="logout()">Logout</span>
        </div>

        <br><br>
        <div class="dashboard-menu">
            <div class="menu-item" (click)="showPersonalInfo()" >
                <div>
                    <i class="fas fa-user"></i>
                    Personal Information
                 </div>
            </div>
            <div class="menu-item" (click)="showMyOrders()" >
                <div>
                    <i class="fas fa-shopping-cart"></i>
                    My Orders
                </div>
            </div>
            <div class="menu-item" (click)="showMyBooks()" >
                <div>
                    <i class="fas fa-heart"></i>
                    My Books
                </div>
            </div>
            <div class="menu-item" *ngIf="authService.loggedInUser.role == 'ROLE_ADMIN'" (click)="getContactMessages()" >
                <div>
                    <i class="fas fa-envelope"></i>
                    Customer Complaints
                </div>
            </div>
        </div>
    </div>
    

    <div class="dashboard-content">
        <div class="dashboard-content-text-start">
            <i class="fas fa-user user-icon"></i>
            <br>
            <h2 class="content-My account-text-start">My account</h2>
            <br><br>
        </div>

            <!-- Personal Information section -->
        <div class="personal-info" *ngIf="isShowPersonalInfo">
            <h3>Personal Information</h3>
            <div class="personal-info-details"></div>
            <ul>
            <li>
                <strong>First Name:</strong> {{ authService.loggedInUser.firstName }}
                <!-- <input type="text" [(ngModel)]="editedUser.firstName" class="edit-input" *ngIf="isEditing"> -->
            </li>
            <li>
                <strong>Last Name:</strong> {{ authService.loggedInUser.lastName }}
                <!-- <input type="text" [(ngModel)]="editedUser.lastName" class="edit-input" *ngIf="isEditing"> -->
            </li>
            <li>
                <strong>Email:</strong> {{ authService.loggedInUser.email }}
                <!-- <input type="text" [(ngModel)]="editedUser.email" class="edit-input" *ngIf="isEditing"> -->
            </li>
            <li>
                <strong>Role:</strong>
                <span *ngIf="authService.loggedInUser.role == 'ROLE_ADMIN'"> Administrator</span>
                <span *ngIf="authService.loggedInUser.role == 'ROLE_USER'"> Customer</span>
                <!-- <input type="text" [(ngModel)]="editedUser.email" class="edit-input" *ngIf="isEditing"> -->
            </li>
            </ul>
            <!-- <button (click)="toggleEdit()">Edit Details</button>
            <button *ngIf="isEditing" (click)="saveDetails()">Save Details</button> -->
        </div>
  
             <!-- My Orders section -->
        <div class="container" *ngIf="isMyOrdersVisible">
            <div class="card" *ngIf=" orders.length > 0; else noOrders">
                <h3 class="text-center">Your Orders</h3>
                <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>User Name</th>
                        <th >
                              <select class="select-menu" id="statusFilter" [(ngModel)]="selectedStatus" (ngModelChange)="applyStatusFilter()">
                                <option value="">Status</option> <!-- Option to show all orders without filtering -->
                                <option *ngFor="let status of uniqueStatuses" [value]="status">{{ status }}</option>
                              </select>
                          </th>
                        <th>Created Date</th>
                        <th>Order Details</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orders">
                        <td>{{ order.id }}</td>
                        <td>{{ order.userName }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.createdDate | date:'dd/MM/yyyy HH:mm' }}</td>
                        <td>
                            <span class="logout-cursor" (click)="moreDetails(order.id, order.totalPrice)">More Details</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <ng-template #noOrders>
            <div class="text-center">
                <p>There are no orders</p>
            </div>
        </ng-template>

        <div class="container" *ngIf="isMessagesVisible">
                <div class="card" *ngIf=" contactMessages.length > 0; else noContactMessages">
                <h3 class="text-center">Contact-Us Messages</h3>
                <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Num</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>The Message</th>
                        <th style="width: 10%;">
                              <select class="select-menu" id="statusFilter" [ngModel]="messageStatus" (ngModelChange)="applyMessagesStatusFilter($event)">
                                <option [ngValue]=null>All</option> <!-- Option to show all orders without filtering -->
                                <option *ngFor="let status of uniqueMessageStatuses" [ngValue]="status">
                                    {{ status == false ? 'New' : 'Done' }}
                                </option>
                              </select>
                          </th>
                        <th>Comments</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let message of contactMessages">
                        <td>{{ message.id }}</td>
                        <td style="width: 15%;">{{ message.firstName }}</td>
                        <td style="width: 15%;">{{ message.lastName }}</td>
                        <td style="width: 15%;">{{ message.phoneNumber }}</td>
                        <td>{{ message.email }}</td>
                        <td style="width: 20%;">{{ message.message }}</td>
                        <td *ngIf="message.status == false"> New </td>
                        <td *ngIf="message.status == true"> Done </td>
                        <td style="width: 15%;">
                            <span class="status-text">in progress</span>
                            <span class="logout-cursor" (click)="updateStatus(message.id, true)">Mark as Done</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <ng-template #noContactMessages>
            <div class="text-center">
                <p>There are no messages</p>
            </div>
        </ng-template>


    </div>  <!--dashboard-content-->


    
    <div class = "container" *ngIf="isShowOrderDetails"> <!--OrderDetails-container-->
        <div class = "card">
            <h3 class = "text-center">Order details</h3>
            <div class = "card-body">
                <table class = "table table-stiped">
                    <thead>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price for one book</th>
                        <th>Price for all</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let orderItem of orderItems">
                            <td>
                                <img src="{{orderItem.image}}" alt="" height="100" width="80">
                            </td>
                            <td>{{orderItem.book}}</td>
                            <td>{{orderItem.quantity}}</td>
                            <td>{{orderItem.price}}</td>
                            <td>{{orderItem.quantity*orderItem.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 class = "text-center">Total Price - {{ TotalPrice() }}</h3>
        </div>
    </div> <!--OrderDetails-container-->

</div> <!--dashboard-container-->

