/* You can add global styles to this file, and also import other style files */


.dropdown-hover:hover .dropdown-menu {
    display: block;
  }

  .nav-link {
    cursor: pointer;
  }

.social-link{
    color: white;
}
.text-muted{
    color: white;
}

.text-custom-color{
    color: whitesmoke !important;
}

.contact-form {
    width: 40%;
    margin: 0 auto;
  }

  body {
    padding-top: 70px; /* Adjust the value as per your navbar height */
  }

//banner **********
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: calc(20vw);
  // background-image: url("assets/bookPictures/IsraelBookWeek.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto; /* Add this line to center the banner horizontally */
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-content h2 {
  font-size: 85px;
  font-style: david;
  color: rgb(14, 9, 29);
  text-align: center;
}

.search-input {
  width: 400px; 
}




//book-carousel **********

  .book-carousel-container {
    width: 50vw; /* Set the desired width */
    // height: 90vh; /* Set the desired height */
    margin: 0 auto; /* Center the container horizontally within its parent element */
    // display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden; /* Hide any overflow */
  }  
  
  .book-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    margin: 0 50px; /* Adjust the margin as needed */
    background-color: #ffffff; /* Set the background color */
    padding: 20px; /* Add padding to create spacing between the background and content */
    height: 100vh; /* Set the height of each slide to fill the carousel container */
}
  
.book-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Adjust the alignment as needed */
    justify-content: center;
    height: 100%; /* Adjust the height as needed */
  }
  
  .carousel-arrow {
    margin-top: 10px; /* Adjust the margin-top as needed */
  }

  .carousel-control-prev,
  .carousel-control-next {
    background-color: #ffffff; /* Apply a darker color to the carousel buttons */
    opacity: 0.8; /* Adjust the opacity as desired */
    /* Add any additional styling for the buttons */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(100%); /* Invert the color of the button icons */
    // background-color: #333;
    /* Add any additional styling for the button icons */
  }
  
  .carousel-control-prev span,
  .carousel-control-next span {
    color: white; /* Set the text color of the buttons */
    /* Add any additional styling for the button text */
  }

  .carousel-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  .carousel-indicators li {
    background-color: #333; /* Apply a darker color to the indicators */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 0.5; /* Adjust the opacity as desired */
    transition: opacity 0.3s ease-in-out;
  }
  
  .carousel-indicators .active {
    opacity: 1; /* Increase the opacity of the active indicator */
  }

  
  .book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: auto; /* Push the content to the top */
    margin-bottom: auto; /* Push the content to the bottom */
    margin-left: 20%;
  }

  .book-image img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%; 
    height: auto;
    object-fit: cover
    
  }

  @media (max-width: 768px) {
    .book-image img {
      width: 50%; /* Reduce the image width on smaller screens */
    }
  }

  

  .book-details-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -150px;
  }

  .icon-spacing {
    width: 40px; /* Adjust the width as needed */
  }
  
  .book-details-icons .icon-heart,
  .book-details-icons .icon-cart {
    width: 65px; /* Adjust the size of the circles */
    height: 65px; /* Adjust the size of the circles */
    border-radius: 50%;
  }
  
  .book-details-icons .icon-heart i,
  .book-details-icons .icon-cart i {
    font-size: 35px; /* Adjust the size of the symbol inside the circles */
  }

  .book-details-title {
    margin-top: 0px;
    margin-left: -150px;
  }

  .book-details-authorName {
    margin-top: 10px;
    margin-left: -150px;
  }
  .book-details-price {
    margin-top: 5px;
    margin-left: -150px;
  }

  .login-icon {
    color: white;
  }

  .icon-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(3, 65, 13);
    color: rgb(255, 255, 255);
  }
  
  .icon-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
  }
  
  .icon-heart.liked {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    border: none; /* Add this line to remove the border */
    outline: none; /* Add this line to remove the outline */
  }

  .icon-cart.added {
    background-color: rgb(0, 78, 17);
    color: rgb(6, 224, 24);
    border: none; /* Add this line to remove the border */
    outline: none; /* Add this line to remove the outline */
  }
   

  //book-details **********

  .book-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .book-details-private {
    display: flex;
    align-items: start;
    flex-direction: row;
    margin-top: 20px;
  }

  .book-details-description {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    margin-left: 80px;
  }

  .book-details-description-price {
    align-items: end;
    margin-top: 580px;
    margin-left: 350px;
  }
  
  .book-details-image {
    width: 600px;
    height: auto;
  }

    //favorite **********

  .favorites-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .favorite-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    text-align: center;
  }
  
  .favorite-item img {
    max-width: 400px;
    justify-content: center;
    // margin-left: 35px;
  }

  .icon-spacing {
    display: inline-block;
    width: 10px;
  }
  
  .favorite-icons .icon-heart,
  .favorite-icons .icon-cart {
    width: 40px; /* Adjust the size of the circles */
    height: 40px; /* Adjust the size of the circles */
    border-radius: 50%;
  }
  
  .favorite-icons .icon-heart i,
  .favorite-icons .icon-cart i {
    font-size: 20px; /* Adjust the size of the symbol inside the circles */
  }

  .book-image {
    position: relative;
    display: inline-block;
  }
  
  .favorite-icons {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .book-info{
    justify-content: center;
    align-items: center;
    margin-right:20;
    transform: translate(-15%, 0);
    z-index: 1;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    .pagination-controls {
      display: flex;
    
      span {
        padding: 5px 10px;
        cursor: pointer;
    
        &.disabled {
          color: gray;
          pointer-events: none;
        }
    
        &.active {
          color: blue;
          font-weight: bold;
        }
    
        &.page-number {
          margin-right: 10px;
        }
    
        &.control {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
    
  }

//dashboard-container********************

  .dashboard-container {
    display: flex;
  }

  .dashboard-menu-union{
    padding: 10px;
  }

    /* Additional styling for the welcome text and logout link */
    .welcome-text-start {
      margin-bottom: 10px;
    }
    
    .logout-cursor {
      cursor: pointer;
      text-decoration: underline;
    }
  
  .dashboard-menu {
    /* Add styles to create the left-side menu */
    width: 200px;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .menu-item {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ccc;
  }
  
  .menu-item:hover {
    background-color: #88cdf5;
  }
  
  .dashboard-content {
    flex: 2;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
  }

  .dashboard-content-text-start{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .user-icon {
    font-size: 50px; 
  }

  .filter-container{
    display: flex;
    flex-direction: row;
  }
  
  /* Add this to remove the frame line of the dropdown */
  .select-menu {
    border: none;
    box-shadow: none;
    text-transform: capitalize;
    font-weight: bold
  }

  .status-text, .logout-cursor {
    display: block;
  }

  